lambda/venv/
dashboard/venv/
__pycache__/
*.zip
data/
.env
*.dist-info/
lambda/boto3/
lambda/botocore/
lambda/certifi/
lambda/charset_normalizer/
lambda/dateutil/
lambda/dotenv/
lambda/idna/
lambda/jmespath/
lambda/psycopg2/
lambda/psycopg2_binary.libs/
lambda/requests/
lambda/s3transfer/
lambda/urllib3/
lambda/vaderSentiment/
lambda/six.py
lambda/bin/
lambda/*.so